@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

:root {
  --primary-text: #000;
  --secondary-text: #333;
  --link: #0050ff;
  --link-hover: dodgerblue;
  --border: rgb(218, 218, 218);
  --background: #fff;
}

.dark {
  --primary-text: #fff;
  --secondary-text: #ccc;
  --link: #2ca72c;
  --link-hover: palegreen;
  --border: rgb(51 51 51);
  --background: #131415;
}

body {
  background-color: var(--background);
  color: var(--primary-text);
}

* {
  font-family: "Readex Pro";
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--primary-text);
}

p,
span,
li {
  color: var(--secondary-text);
  font-size: 1em;
}

a {
  font-family: "Readex Pro";
  text-decoration: none;
  color: var(--secondary-text);
}

a:hover {
  transition: 0.3s;
  color: var(--link-hover);
}

li {
  line-height: 1.9em;
}

#container--main {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapper--hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-name {
  font-size: 36px;
  line-height: 1em;
}

.metadata {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.metadata > * {
  margin: 0;
}

#toggler--slider {
  margin: 20px;
  width: 25px;
  height: 13px;
  background-color: var(--secondary-text);
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

body.dark #toggler--slider {
  justify-content: flex-end;
}

#toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: var(--background);
  border-radius: 50%;
}

#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a {
  font-weight: 300;
  color: var(--secondary-text);
  font-size: 1em;
}

#socials--list a:hover {
  font-weight: 100;
  color: var(--link-hover);
  font-size: 1em;
}

#qualifications--list {
  .date {
    text-align: end;
  }

  .certificate--date,
  .work--date {
    display: flex;
    justify-content: space-between;
  }
}

.projects {
  display: flex;
  justify-content: space-around;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
}

.card--project a {
  color: var(--primary-text);
}

.card--project a:hover {
  color: var(--link-hover);
}

.card--work-history {
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.company a:hover {
  color: var(--link-hover);
}

.line-break {
  background-color: var(--border);
  height: 1px;
}

.colored-bold-text {
  font-weight: bold;
  color: var(--link);
}

@media (max-width: 600px) {
  #container--main {
    margin-right: 20px;
  }

  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #wrapper--hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  #user-name {
    display: flex;
    justify-content: center;
  }

  .metadata {
    align-items: center;
  }

  #socials--list, .line-break {
    margin: 0 0 0 20px;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }

  #qualifications--list {
    .certificate {
      max-width: 180px;
    }
  }

  h1,
  h2,
  h3 {
    margin: 1rem 0 0 20px;
    text-align: center;
  }

  div,
  a,
  p,
  span,
  li {
    color: var(--secondary-text);
    font-size: 0.8rem;
  }
}
